* {
	margin: 0;
	padding: 0;
}

body {
	/* display: flex;
	justify-content: center;
	align-items: center; */

	background-color: #333;
	color: wheat;

	font-family: 'Montserrat', sans-serif;
}

.header {
	display: flex;
	color: wheat;
	justify-content: center;
	align-items: center;

	font-size: 48px;
	padding: 30px;
	background-color: #272727;

	font-weight: 500;
}

img {
	width: 120px;
}
.user {
}
.users-table {
	padding: 60px;
	float: left;
	width: 60%;

	gap: 90px;
}
.users-table .user {
	margin: 50px;
	padding: 20px;
	background-color: #3e8fa0;
}

aside {
	width: 20%;
	background-color: #272727;
	float: left;
}

main .delete-icon {
	float: right;
	cursor: pointer;
	padding-left: 20px;
	transform: scale(1.5);
}

main .edit-icon {
	float: right;
	cursor: pointer;
	transform: scale(1.5);
}

main .delete-icon:hover,
main .edit-icon:hover {
	opacity: 0.5;
	transition: transform 500ms ease;
}

form {
	padding-top: 60px;
	background-color: #333;
}

form input:not([type='checkbox']),
form textarea,
form button {
	width: 90%;
	padding: 15px 5%;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	margin-bottom: 10px;
	background-color: #272727;
	color: wheat;
	outline: none;
	font-size: 15px;
	border: 0;
}

form input[type='checkbox'] {
	margin: 10px;
}

form button {
	width: 100%;
	cursor: pointer;
	transition: transform 500ms ease;
}

form button:hover {
	transform: scale(1.05);
}

.user form {
	padding-top: 20px;
	background-color: #3e8fa0;
}

.user form input:not([type='checkbox']),
.user form textarea {
	width: 90%;
	padding: 15px 5%;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	margin-bottom: 10px;
	background-color: wheat;
	color: #272727;
	outline: none;
	font-size: 15px;
	border: 0;
}

.user form button:hover {
	transform: scale(1.02);
}
